
.header{
	height:100px;
	background:lightgray;
	margin-bottom:20px;
}

.work-box{
	position: relative;
	.time-wrap{ // Schedule Timeline Comse Here
		width:50px;
		
		float:left;
		height:100vh;
		margin-top:30px;
		.thetime{
			border:1px solid white;
			font-size:10px; height:30px; width:50px; float:left;
			box-sizing: border-box;
			background:lightblue;			
				display:flex;
				justify-content:center;
				align-items:center;			
		}
	}

	.day-wrap{
		box-sizing:border-box;
		margin-left:50px;
		width:calc(100vw - 250px);
		background:yellow;
		overflow: hidden;
		//min-height: 500px;
		position:relative;
		overflow-x:scroll;
		.day-box{ // EACH DAY
			background:lightblue;
			position: absolute;
			border:2px solid white;
			box-sizing:border-box;
			height:600px;
			.day-title{
				height:20px; font-size:10px; text-align: center; background:orange;
				box-sizing:border-box;
				width:240px;
				display:flex;
				justify-content:center;
				align-items:center;
			}
			.name-box{position:absolute; top:20px; height:10px; font-size:10px; text-align:center; width:50px;}
			.s-box{
				margin-top:30px;
				border:2px solid gray; border-radius: 3px; padding:3px;
				width:50px; font-size:10px;
				height:20px;
				position:absolute;
				left:0;			box-sizing: border-box;
				transition:500ms;
				z-index: 99;
				&:hover{background:yellow;}

			}
		}//DAY-Box END
	}//Day-Wrap END
}//WORK_BOX END

	.mybox{ // Employee information box
		width:200px;
		max-height:200px;
		position: absolute; top:0; right:0;
		font-size:12px;
		padding:30px;
		border:0px solid lightblue; border-radius:5px;
		display:none; background:orange; z-index: 9999;
		h6{font-size:11px; }
	}
	.addbox{ // Add box
		h6{font-size:11px; }		
		width:200px;
		max-height:200px;		
		position: absolute; bottom:0; right:0;
		font-size:12px;
		padding:30px;
		display:none; background:orange; z-index: 9999;		
	}
